### Scraping Covid data

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
url = 'https://www.worldometers.info/coronavirus/'
r = requests.get(url)
if r.status_code==200: 
    html_doc = r.text
print(r)

<Response [200]>

In [7]:
soup = BeautifulSoup(html_doc)
print(soup.prettify())

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   COVID Live - Coronavirus Statistics - Worldometer
  </title>
  <meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image"/>
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/wm16.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="/js/jquery.min.js">
  </script>
  <script src="/js/bootstrap.min.js">
  </script>
  <script src="/js/ie10-viewport-bug-workaround.js">
  </script>
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
  </script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
  </script>
  <script data-cfasync="false" type="text/javascript">
   var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
  </script>
 </head>
 <body>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
  </script>
  <script>
   window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
  </script>
  <style type="text/css">
   .style1 {
        color: #666666
    }
  </style>
  <div class="navbar navbar-default">
   <div class="container">
    <div class="navbar-header">
     <div class="logo">
      <a class="navbar-brand" href="/">
       <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
      </a>
     </div>
     <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
     </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
     <ul class="nav navbar-nav">
      <li>
       <a href="/coronavirus/">
        <span style="color:#FF9900; font-weight:bold">
         Coronavirus
        </span>
       </a>
      </li>
      <li>
       <a href="/population/">
        Population
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <div style="text-align:left; margin-bottom:10px">
     <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
     </script>
     <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
     </ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </div>
   </div>
   <div class="row">
    <div class="col-md-8">
     <div class="content-inner">
      <style>
       .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
      </style>
      <script src="/js/highcharts.js">
      </script>
      <style type="text/css">
       .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
      </style>
      <div class="label-counter" id="page-top">
       COVID-19 Coronavirus Pandemic
      </div>
      <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
       Last updated: June 28, 2022, 18:21 GMT
      </div>
      <div style="margin-top:20px; text-align:center; font-size:14px">
       <a class="new_badge_link" href="/coronavirus/weekly-trends/" style="display: inline-block; position:relative;">
        Weekly Trends
       </a>
       -
       <a href="/coronavirus/worldwide-graphs/">
        Graphs
       </a>
       -
       <a href="#countries">
        Countries
       </a>
       -
       <a href="#news">
        News
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Coronavirus Cases:
       </h1>
       <div class="maincounter-number">
        <span style="color:#aaa">
         550,320,907
        </span>
       </div>
      </div>
      <div style="text-align:center ">
       <a href="#countries">
        view by country
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Deaths:
       </h1>
       <div class="maincounter-number">
        <span>
         6,352,855
        </span>
       </div>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px;">
       <h1>
        Recovered:
       </h1>
       <div class="maincounter-number" style="color:#8ACA2B ">
        <span>
         526,008,040
        </span>
       </div>
      </div>
      <div style="margin-top:50px;">
      </div>
      <style>
       .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
      </style>
      <script>
       var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('hide');
            } else {

                $('#panel_active').collapse('hide');
            }

            do_not_slide = false;

        });



    });
      </script>
      <div class="col-md-6">
       <div class="panel panel-default">
        <div aria-controls="panel_active" aria-expanded="false" class="panel_clickable panel-heading" data-toggle="collapse" href="#panel_active" style="text-align:center;position:relative;">
         <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
          Active Cases
         </span>
         <span class="collapse_button">
          <svg focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
           <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z">
           </path>
          </svg>
         </span>
        </div>
        <div class="collapse" id="panel_active">
         <div class="panel-body" style="text-align:center;min-height:220px;">
          <div class="panel_flip">
           <div class="panel_front" style="width:100%;height:100%;">
            <div class="number-table-main">
             17,960,012
            </div>
            <div style="font-size:13.5px">
             Currently Infected Patients
            </div>
            <div style="padding-top:20px;position:relative;text-align:center; ">
             <div style="float:left; text-align:center">
              <span class="number-table" style="color:#8080FF">
               17,923,500
              </span>
              (
              <strong>
               99.8
              </strong>
              %)
              <div style="font-size:13px">
               in Mild Condition
              </div>
              <br/>
             </div>
             <div style="float:right; text-align:center">
              <span class="number-table" style="color:red ">
               36,512
              </span>
              (
              <strong>
               0.2
              </strong>
              %)
              <div style="font-size:13px">
               Serious or Critical
              </div>
              <br/>
             </div>
            </div>
            <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;padding-top:20px;width:100%;">
             Show Graph
            </a>
           </div>
           <div class="panel_back" style="width:100%;height:100%;">
            <div id="total-currently-infected-linear">
            </div>
            <script type="text/javascript">
             Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {

In [10]:
table = soup.find('table', attrs={'id': 'main_table_countries_today'})
print(table.prettify())

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
 <thead>
  <tr>
   <th width="1%">
    #
   </th>
   <th width="100">
    Country,
    <br/>
    Other
   </th>
   <th width="20">
    Total
    <br/>
    Cases
   </th>
   <th width="30">
    New
    <br/>
    Cases
   </th>
   <th width="30">
    Total
    <br/>
    Deaths
   </th>
   <th width="30">
    New
    <br/>
    Deaths
   </th>
   <th width="30">
    Total
    <br/>
    Recovered
   </th>
   <th width="30">
    New
    <br/>
    Recovered
   </th>
   <th width="30">
    Active
    <br/>
    Cases
   </th>
   <th width="30">
    Serious,
    <br/>
    Critical
   </th>
   <th width="30">
    Tot Cases/
    <br/>
    1M pop
   </th>
   <th width="30">
    Deaths/
    <br/>
    1M pop
   </th>
   <th width="30">
    Total
    <br/>
    Tests
   </th>
   <th width="30">
    Tests/
    <br/>
    <nobr>
     1M pop
    </nobr>
   </th>
   <th width="30">
    Population
   </th>
   <th style="display:none" width="30">
    Continent
   </th>
   <th width="30">
    1 Case
    <br/>
    every X ppl
   </th>
   <th width="30">
    1 Death
    <br/>
    every X ppl
   </th>
   <th width="30">
    1 Test
    <br/>
    every X ppl
   </th>
   <th width="30">
    New Cases/1M pop
   </th>
   <th width="30">
    New Deaths/1M pop
   </th>
   <th width="30">
    Active Cases/1M pop
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     North America
    </nobr>
   </td>
   <td>
    105,010,665
   </td>
   <td>
    +4,632
   </td>
   <td>
    1,485,862
   </td>
   <td>
    +21
   </td>
   <td>
    98,612,581
   </td>
   <td>
    +16,541
   </td>
   <td>
    4,912,222
   </td>
   <td>
    8,526
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="North America" style="display:none;">
    North America
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     Asia
    </nobr>
   </td>
   <td>
    160,953,671
   </td>
   <td>
    +103,679
   </td>
   <td>
    1,438,786
   </td>
   <td>
    +177
   </td>
   <td>
    155,387,303
   </td>
   <td>
    +151,918
   </td>
   <td>
    4,127,582
   </td>
   <td>
    10,473
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="Asia" style="display:none;">
    Asia
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     South America
    </nobr>
   </td>
   <td>
    59,445,859
   </td>
   <td>
    +6,534
   </td>
   <td>
    1,304,273
   </td>
   <td>
    +14
   </td>
   <td>
    56,353,023
   </td>
   <td>
    +15,756
   </td>
   <td>
    1,788,563
   </td>
   <td>
    10,362
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="South America" style="display:none;">
    South America
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     Europe
    </nobr>
   </td>
   <td>
    202,906,475
   </td>
   <td>
    +319,145
   </td>
   <td>
    1,854,181
   </td>
   <td>
    +357
   </td>
   <td>
    194,844,803
   </td>
   <td>
    +227,512
   </td>
   <td>
    6,207,491
   </td>
   <td>
    5,987
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="Europe" style="display:none;">
    Europe
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     Oceania
    </nobr>
   </td>
   <td>
    9,701,375
   </td>
   <td>
    +37,252
   </td>
   <td>
    13,935
   </td>
   <td>
    +90
   </td>
   <td>
    9,328,293
   </td>
   <td>
    +6,459
   </td>
   <td>
    359,147
   </td>
   <td>
    156
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="Australia/Oceania" style="display:none;">
    Australia/Oceania
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     Africa
    </nobr>
   </td>
   <td>
    12,302,141
   </td>
   <td>
    +4,555
   </td>
   <td>
    255,803
   </td>
   <td>
    +7
   </td>
   <td>
    11,481,331
   </td>
   <td>
    +1,405
   </td>
   <td>
    565,007
   </td>
   <td>
    1,008
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="Africa" style="display:none;">
    Africa
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
    </nobr>
   </td>
   <td>
    721
   </td>
   <td>
   </td>
   <td>
    15
   </td>
   <td>
   </td>
   <td>
    706
   </td>
   <td>
   </td>
   <td>
    0
   </td>
   <td>
    0
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="" style="display:none;">
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world">
   <td>
   </td>
   <td style="text-align:left;">
    World
   </td>
   <td>
    550,320,907
   </td>
   <td>
    +475,797
   </td>
   <td>
    6,352,855
   </td>
   <td>
    +666
   </td>
   <td>
    526,008,040
   </td>
   <td>
    +419,591
   </td>
   <td>
    17,960,012
   </td>
   <td>
    36,512
   </td>
   <td>
    70,601
   </td>
   <td>
    815.0
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="all" style="display:none">
    All
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    1
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/us/">
     USA
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    88,910,140
   </td>
   <td style="font-weight: bold; text-align:right;">
   </td>
   <td style="font-weight: bold; text-align:right;">
    1,041,027
   </td>
   <td style="font-weight: bold;
                                    text-align:right;">
   </td>
   <td style="font-weight: bold; text-align:right">
    84,604,107
   </td>
   <td style="font-weight: bold; text-align:right;">
   </td>
   <td style="text-align:right;font-weight:bold;">
    3,265,006
   </td>
   <td style="font-weight: bold; text-align:right">
    3,171
   </td>
   <td style="font-weight: bold; text-align:right">
    265,522
   </td>
   <td style="font-weight: bold; text-align:right">
    3,109
   </td>
   <td style="font-weight: bold; text-align:right">
    1,049,371,874
   </td>
   <td style="font-weight: bold; text-align:right">
    3,133,852
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/us-population/">
     334,850,530
    </a>
   </td>
   <td data-continent="North America" style="display:none">
    North America
   </td>
   <td>
    4
   </td>
   <td>
    322
   </td>
   <td>
    0
   </td>
   <td style="font-weight: bold; text-align:right">
   </td>
   <td style="font-weight: bold; text-align:right">
   </td>
   <td style="font-weight: bold; text-align:right">
    9,751
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    2
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/india/">
     India
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    43,420,608
   </td>
   <td style="font-weight: bold; text-align:right;">
   </td>
   <td style="font-weight: bold; text-align:right;">
    525,047
   </td>
   <td style="font-weight: bold;
                                    text-align:right;">
   </td>
   <td style="font-weight: bold; text-align:right">
    42,797,092
   </td>
   <td style="font-weight: bold; text-align:right;">
   </td>
   <td style="text-align:right;font-weight:bold;">
    98,469
   </td>
   <td style="font-weight: bold; text-align:right">
    698
   </td>
   <td style="font-weight: bold; text-align:right">
    30,863
   </td>
   <td style="font-weight: bold; text-align:right">
    373
   </td>
   <td style="font-weight: bold; text-align:right">
    861,489,400
   </td>
   <td style="font-weight: bold; text-align:right">
    612,330
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/india-population/">
     1,406,902,807
    </a>
   </td>
   <td data-continent="Asia" style="display:none">
    Asia
   </td>
   <td>
    32
   </td>
   <td>
    2,680
   </td>
   <td>
    2
   </td>
   <td style="font-weight: bold; text-align:right">
   </td>
   <td style="font-weight: bold; text-align:right">
   </td>
   <td style="font-weight: bold; text-align:right">
    70
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    3
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/brazil/">
     Brazil
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    32,136,916
   </td>
   <td style="font-weight: bold; text-align:right;">
   </td>
   <td style="font-weight: bold; text-align:right;">
    670,606
   </td>
   <td style="font-weight: bold;
                                    text-align:right;">
   </td>
   <td style="font-weight: bold; text-align:right">
    30,686,581
   </td>
   <td style="font-weight: bold; text-align:right;">
   </td>
   <td style="text-align:right;font-weight:bold;">
    779,729
   </td>
   <td style="font-weight: bold; text-align:right">
    8,318
   </td>
   <td style="font-weight: bold; text-align:right">
    149,089
   </td>
   <td style="font-weight: bold; text-align:right">
    3,111
   </td>
   <td style="font-weight: bold; text-align:right">
    63,776,166
   </td>
   <td style="font-weight: bold; text-align:right">
    295,870
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/brazil-population/">
     215,554,871
    </a>
   </td>
   <td data-continent="South America" style="display:none">
    South America
   </td>
   <td>
    7
   </td>
   <td>
    321
   </td>
   <td>
    3
   </td>
   <td style="font-weight: bold; text-align:right">
   </td>
   <td style="font-weight: bold; text-align:right">
   </td>
   <td style="font-weight: bold; text-align:right">
    3,617
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    4
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/france/">
     France
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    30,825,789
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +147,248
   </td>
   <td style="font-weight: bold; text-align:right;">
    149,443
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +37
   </td>
   <td style="font-weight: bold; text-align:right">
    <span style="color:grey; font-style: italic;">
     29,563,813
    </span>
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">
    +53,754
   </td>
   <td style="text-align:right;font-weight:bold;">
    1,112,533
   </td>
   <td style="font-weight: bold; text-align:right">
    869
   </td>
   <td style="font-weight: bold; text-align:right">
    470,193
   </td>
   <td style="font-weight: bold; text-align:right">
    2,279
   </td>
   <td style="font-weight: bold; text-align:right">
    271,490,188
   </td>
   <td style="font-weight: bold; text-align:right">
    4,141,107
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/france-population/">
     65,559,816
    </a>
   </td>
   <td data-continent="Europe" style="display:none">
    Europe
   </td>
   <td>
    2
   </td>
   <td>
    439
   </td>
   <td>
    0
   </td>
   <td style="font-weight: bold; text-align:right">
    2,246
   </td>
   <td style="font-weight: bold; text-align:right">
    0.6
   </td>
   <td style="font-weight: bold; text-align:right">
    16,970
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    5
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/germany/">
     Germany
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    27,914,240
   </td>
   <td style="font-weight: bold; text-align:right;">
   </td>
   <td style="font-weight: bold; text-align:right;">
    140,847
   </td>
   <td style="font-weight: bold;
                                    text-align:right;">
   </td>
   <td style="font-weight: bold; text-align:right">
    26,546,500
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">
    +66,600
   </td>
   <td style="text-align:right;font-weight:bold;">
    1,226,893
   </td>
   <td style="font-weight: bold; text-align:right">
    837
   </td>
   <td style="font-weight: bold; text-align:right">
    331,071
   </td>
   <td style="font-weight: bold; text-align:right">
    1,670
   </td>
   <td style="font-weight: bold; text-align:right">
    122,332,384
   </td>
   <td style="font-weight: bold; text-align:right">
    1,450,897
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/germany-population/">
     84,315,003
    </a>
   </td>
   <td data-continent="Europe" style="display:none">
    Europe
   </td>
   <td>
    3
   </td>
   <td>
    599
   </td>
   <td>
    1
   </td>
   <td style="font-weight: bold; text-align:right">
   </td>
   <td style="font-weight: bold; text-align:right">
   </td>
   <td style="font-weight: bold; text-align:right">
    14,551
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    6
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/uk/">
     UK
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    22,661,542
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +21,412
   </td>
   <td style="font-weight: bold; text-align:right;">
    180,128
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +117
   </td>
   <td style="font-weight: bold; text-align:right">
    <span style="color:grey; font-style: italic;">
     22,132,504
    </span>
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">
    +6,594
   </td>
   <td style="text-align:right;font-weight:bold;">
    348,910
   </td>
   <td style="font-weight: bold; text-align:right">
    146
   </td>
   <td style="font-weight: bold; text-align:right">
    330,377
   </td>
   <td style="font-weight: bold; text-align:right">
    2,626
   </td>
   <td style="font-weight: bold; text-align:right">
    522,526,476
   </td>
   <td style="font-weight: bold; text-align:right">
    7,617,787
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/uk-population/">
     68,592,949
    </a>
   </td>
   <td data-continent="Europe" style="display:none">
    Europe
   </td>
   <td>
    3
   </td>
   <td>
    381
   </td>
   <td>
    0
   </td>
   <td style="font-weight: bold; text-align:right">
    312
   </td>
   <td style="font-weight: bold; text-align:right">
    2
   </td>
   <td style="font-weight: bold; text-align:right">
    5,087
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    7
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/russia/">
     Russia
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    18,424,105
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +2,541
   </td>
   <td style="font-weight: bold; text-align:right;">
    381,002
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +59
   </td>
   <td style="font-weight: bold; text-align:right">
    17,851,282
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">
    +3,414
   </td>
   <td style="text-align:right;font-weight:bold;">
    191,821
   </td>
   <td style="font-weight: bold; text-align:right">
    2,300
   </td>
   <td style="font-weight: bold; text-align:right">
    126,142
   </td>
   <td style="font-weight: bold; text-align:right">
    2,609
   </td>
   <td style="font-weight: bold; text-align:right">
    273,400,000
   </td>
   <td style="font-weight: bold; text-align:right">
    1,871,853
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/russia-population/">
     146,058,494
    </a>
   </td>
   <td data-continent="Europe" style="display:none">
    Europe
   </td>
   <td>
    8
   </td>
   <td>
    383
   </td>
   <td>
    1
   </td>
   <td style="font-weight: bold; text-align:right">
    17
   </td>
   <td style="font-weight: bold; text-align:right">
    0.4
   </td>
   <td style="font-weight: bold; text-align:right">
    1,313
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    8
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/italy/">
     Italy
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    18,343,422
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +83,555
   </td>
   <td style="font-weight: bold; text-align:right;">
    168,234
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +69
   </td>
   <td style="font-weight: bold; text-align:right">
    17,401,738
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">
    +49,493
   </td>
   <td style="text-align:right;font-weight:bold;">
    773,450
   </td>
   <td style="font-weight: bold; text-align:right">
    237
   </td>
   <td style="font-weight: bold; text-align:right">
    304,275
   </td>

In [15]:
# Show all of the rows of the table.
rows = table.find_all('tr', attrs={'style': ""})

# Storage for the extracted data.
output = []

# Specify column names.
column_names = ['id', 'Country', 'Total Cases', 'New Cases',
               'Total deaths', 'New Deaths', 'Total Recovered', 'New Recovered', 'Active Cases', '2', '3', '4', '5', '6', '7']

# Create a for loop statement.
for country in rows:
    country_data = country.find_all('td')
    if country_data:
        # extract the text within each element
        country_text = [td.text for td in country_data]
        output.append(dict(zip(column_names, country_text)))

# View output.
output

[{'id': '',
  'Country': 'World',
  'Total Cases': '550,320,907',
  'New Cases': '+475,797',
  'Total deaths': '6,352,855',
  'New Deaths': '+666',
  'Total Recovered': '526,008,040',
  'New Recovered': '+419,591',
  'Active Cases': '17,960,012',
  '2': '36,512',
  '3': '70,601',
  '4': '815.0',
  '5': '',
  '6': '',
  '7': ''},
 {'id': '1',
  'Country': 'USA',
  'Total Cases': '88,910,140',
  'New Cases': '',
  'Total deaths': '1,041,027 ',
  'New Deaths': '',
  'Total Recovered': '84,604,107',
  'New Recovered': '',
  'Active Cases': '3,265,006',
  '2': '3,171',
  '3': '265,522',
  '4': '3,109',
  '5': '1,049,371,874',
  '6': '3,133,852',
  '7': '334,850,530 '},
 {'id': '2',
  'Country': 'India',
  'Total Cases': '43,420,608',
  'New Cases': '',
  'Total deaths': '525,047 ',
  'New Deaths': '',
  'Total Recovered': '42,797,092',
  'New Recovered': '',
  'Active Cases': '98,469',
  '2': '698',
  '3': '30,863',
  '4': '373',
  '5': '861,489,400',
  '6': '612,330',
  '7': '1,406,902,807 '},
 {'id': '3',
  'Country': 'Brazil',
  'Total Cases': '32,136,916',
  'New Cases': '',
  'Total deaths': '670,606 ',
  'New Deaths': '',
  'Total Recovered': '30,686,581',
  'New Recovered': '',
  'Active Cases': '779,729',
  '2': '8,318',
  '3': '149,089',
  '4': '3,111',
  '5': '63,776,166',
  '6': '295,870',
  '7': '215,554,871 '},
 {'id': '4',
  'Country': 'France',
  'Total Cases': '30,825,789',
  'New Cases': '+147,248',
  'Total deaths': '149,443 ',
  'New Deaths': '+37',
  'Total Recovered': '29,563,813',
  'New Recovered': '+53,754',
  'Active Cases': '1,112,533',
  '2': '869',
  '3': '470,193',
  '4': '2,279',
  '5': '271,490,188',
  '6': '4,141,107',
  '7': '65,559,816 '},
 {'id': '5',
  'Country': 'Germany',
  'Total Cases': '27,914,240',
  'New Cases': '',
  'Total deaths': '140,847 ',
  'New Deaths': '',
  'Total Recovered': '26,546,500',
  'New Recovered': '+66,600',
  'Active Cases': '1,226,893',
  '2': '837',
  '3': '331,071',
  '4': '1,670',
  '5': '122,332,384',
  '6': '1,450,897',
  '7': '84,315,003 '},
 {'id': '6',
  'Country': 'UK',
  'Total Cases': '22,661,542',
  'New Cases': '+21,412',
  'Total deaths': '180,128 ',
  'New Deaths': '+117',
  'Total Recovered': '22,132,504',
  'New Recovered': '+6,594',
  'Active Cases': '348,910',
  '2': '146',
  '3': '330,377',
  '4': '2,626',
  '5': '522,526,476',
  '6': '7,617,787',
  '7': '68,592,949 '},
 {'id': '7',
  'Country': 'Russia',
  'Total Cases': '18,424,105',
  'New Cases': '+2,541',
  'Total deaths': '381,002 ',
  'New Deaths': '+59',
  'Total Recovered': '17,851,282',
  'New Recovered': '+3,414',
  'Active Cases': '191,821',
  '2': '2,300',
  '3': '126,142',
  '4': '2,609',
  '5': '273,400,000',
  '6': '1,871,853',
  '7': '146,058,494 '},
 {'id': '8',
  'Country': 'Italy',
  'Total Cases': '18,343,422',
  'New Cases': '+83,555',
  'Total deaths': '168,234 ',
  'New Deaths': '+69',
  'Total Recovered': '17,401,738',
  'New Recovered': '+49,493',
  'Active Cases': '773,450',
  '2': '237',
  '3': '304,275',
  '4': '2,791',
  '5': '226,630,862',
  '6': '3,759,286',
  '7': '60,285,619 '},
 {'id': '9',
  'Country': 'S. Korea',
  'Total Cases': '18,339,319',
  'New Cases': '+9,871',
  'Total deaths': '24,530 ',
  'New Deaths': '+5',
  'Total Recovered': '18,185,125',
  'New Recovered': '+9,301',
  'Active Cases': '129,664',
  '2': '62',
  '3': '357,097',
  '4': '478',
  '5': '15,804,065',
  '6': '307,732',
  '7': '51,356,642 '},
 {'id': '10',
  'Country': 'Turkey',
  'Total Cases': '15,096,696',
  'New Cases': '',
  'Total deaths': '99,015 ',
  'New Deaths': '',
  'Total Recovered': '14,993,993',
  'New Recovered': '',
  'Active Cases': '3,688',
  '2': '975',
  '3': '175,261',
  '4': '1,149',
  '5': '162,743,369',
  '6': '1,889,327',
  '7': '86,138,291 '},
 {'id': '11',
  'Country': 'Spain',
  'Total Cases': '12,734,038',
  'New Cases': '+13,053',
  'Total deaths': '107,906 ',
  'New Deaths': '+26',
  'Total Recovered': '12,218,358',
  'New Recovered': '+15,281',
  'Active Cases': '407,774',
  '2': '339',
  '3': '272,149',
  '4': '2,306',
  '5': '471,036,328',
  '6': '10,066,885',
  '7': '46,790,673 '},
 {'id': '12',
  'Country': 'Vietnam',
  'Total Cases': '10,744,854',
  'New Cases': '+769',
  'Total deaths': '43,087 ',
  'New Deaths': '+3',
  'Total Recovered': '9,665,972',
  'New Recovered': '+9,505',
  'Active Cases': '1,035,795',
  '2': '21',
  '3': '108,452',
  '4': '435',
  '5': '85,826,548',
  '6': '866,279',
  '7': '99,074,903 '},
 {'id': '13',
  'Country': 'Argentina',
  'Total Cases': '9,367,172',
  'New Cases': '',
  'Total deaths': '129,070 ',
  'New Deaths': '',
  'Total Recovered': '9,147,548',
  'New Recovered': '+6,516',
  'Active Cases': '90,554',
  '2': '344',
  '3': '203,555',
  '4': '2,805',
  '5': '35,716,069',
  '6': '776,133',
  '7': '46,017,983 '},
 {'id': '14',
  'Country': 'Japan',
  'Total Cases': '9,265,374',
  'New Cases': '+11,988',
  'Total deaths': '31,139 ',
  'New Deaths': '+13',
  'Total Recovered': '9,092,711',
  'New Recovered': '+14,637',
  'Active Cases': '141,524',
  '2': '46',
  '3': '73,705',
  '4': '248',
  '5': '56,281,019',
  '6': '447,708',
  '7': '125,709,147 '},
 {'id': '15',
  'Country': 'Netherlands',
  'Total Cases': '8,171,396',
  'New Cases': '+5,785',
  'Total deaths': '22,362 ',
  'New Deaths': '+4',
  'Total Recovered': '8,061,351',
  'New Recovered': '+824',
  'Active Cases': '87,683',
  '2': '46',
  '3': '474,804',
  '4': '1,299',
  '5': '21,107,399',
  '6': '1,226,460',
  '7': '17,210,025 '},
 {'id': '16',
  'Country': 'Australia',
  'Total Cases': '8,054,066',
  'New Cases': '+27,757',
  'Total deaths': '9,778 ',
  'New Deaths': '+74',
  'Total Recovered': '7,787,702',
  'New Recovered': '',
  'Active Cases': '256,586',
  '2': '122',
  '3': '308,745',
  '4': '375',
  '5': '73,810,858',
  '6': '2,829,471',
  '7': '26,086,456 '},
 {'id': '17',
  'Country': 'Iran',
  'Total Cases': '7,237,156',
  'New Cases': '+443',
  'Total deaths': '141,386 ',
  'New Deaths': '',
  'Total Recovered': '7,062,198',
  'New Recovered': '+237',
  'Active Cases': '33,572',
  '2': '196',
  '3': '84,031',
  '4': '1,642',
  '5': '52,298,398',
  '6': '607,243',
  '7': '86,124,334 '},
 {'id': '18',
  'Country': 'Colombia',
  'Total Cases': '6,151,354',
  'New Cases': '',
  'Total deaths': '139,970 ',
  'New Deaths': '',
  'Total Recovered': '5,965,083',
  'New Recovered': '',
  'Active Cases': '46,301',
  '2': '342',
  '3': '118,391',
  '4': '2,694',
  '5': '35,422,380',
  '6': '681,749',
  '7': '51,958,111 '},
 {'id': '19',
  'Country': 'Indonesia',
  'Total Cases': '6,084,063',
  'New Cases': '+2,167',
  'Total deaths': '156,728 ',
  'New Deaths': '+2',
  'Total Recovered': '5,912,025',
  'New Recovered': '+1,170',
  'Active Cases': '15,310',
  '2': '2,771',
  '3': '21,787',
  '4': '561',
  '5': '100,661,561',
  '6': '360,461',
  '7': '279,257,818 '},
 {'id': '20',
  'Country': 'Poland',
  'Total Cases': '6,013,859',
  'New Cases': '+696',
  'Total deaths': '116,420 ',
  'New Deaths': '+3',
  'Total Recovered': '5,335,655',
  'New Recovered': '+5',
  'Active Cases': '561,784',
  '2': '408',
  '3': '159,247',
  '4': '3,083',
  '5': '36,466,340',
  '6': '965,626',
  '7': '37,764,456 '},
 {'id': '21',
  'Country': 'Mexico',
  'Total Cases': '5,965,958',
  'New Cases': '+3,343',
  'Total deaths': '325,596 ',
  'New Deaths': '+16',
  'Total Recovered': '5,166,972',
  'New Recovered': '+16,513',
  'Active Cases': '473,390',
  '2': '4,798',
  '3': '45,328',
  '4': '2,474',
  '5': '16,446,387',
  '6': '124,955',
  '7': '131,618,356 '},
 {'id': '22',
  'Country': 'Portugal',
  'Total Cases': '5,138,659',
  'New Cases': '',
  'Total deaths': '24,061 ',
  'New Deaths': '',
  'Total Recovered': '4,654,071',
  'New Recovered': '',
  'Active Cases': '460,527',
  '2': '61',
  '3': '506,882',
  '4': '2,373',
  '5': '43,527,258',
  '6': '4,293,566',
  '7': '10,137,787 '},
 {'id': '23',
  'Country': 'Ukraine',
  'Total Cases': '5,017,038',
  'New Cases': '',
  'Total deaths': '108,638 ',
  'New Deaths': '',
  'Total Recovered': '4,906,383',
  'New Recovered': '+239',
  'Active Cases': '2,017',
  '2': '177',
  '3': '116,100',
  '4': '2,514',
  '5': '19,521,252',
  '6': '451,744',
  '7': '43,213,133 '},
 {'id': '24',
  'Country': 'DPRK',
  'Total Cases': '4,729,140',
  'New Cases': '+6,710',
  'Total deaths': '73 ',
  'New Deaths': '',
  'Total Recovered': '4,716,680',
  'New Recovered': '+8,170',
  'Active Cases': '12,387',
  '2': '',
  '3': '181,871',
  '4': '3',
  '5': '',
  '6': '',
  '7': '26,002,773 '},
 {'id': '25',
  'Country': 'Malaysia',
  'Total Cases': '4,560,583',
  'New Cases': '+2,025',
  'Total deaths': '35,758 ',
  'New Deaths': '+4',
  'Total Recovered': '4,497,078',
  'New Recovered': '+2,367',
  'Active Cases': '27,747',
  '2': '37',
  '3': '137,416',
  '4': '1,077',
  '5': '60,910,353',
  '6': '1,835,305',
  '7': '33,188,136 '},
 {'id': '26',
  'Country': 'Thailand',
  'Total Cases': '4,517,651',
  'New Cases': '+1,761',
  'Total deaths': '30,623 ',
  'New Deaths': '+13',
  'Total Recovered': '4,464,573',
  'New Recovered': '+2,185',
  'Active Cases': '22,455',
  '2': '1,496',
  '3': '64,402',
  '4': '437',
  '5': '17,270,775',
  '6': '246,208',
  '7': '70,147,163 '},
 {'id': '27',
  'Country': 'Austria',
  'Total Cases': '4,403,444',
  'New Cases': '+10,189',
  'Total deaths': '18,768 ',
  'New Deaths': '+4',
  'Total Recovered': '4,293,115',
  'New Recovered': '+6,620',
  'Active Cases': '91,561',
  '2': '47',
  '3': '483,455',
  '4': '2,061',
  '5': '190,225,970',
  '6': '20,884,968',
  '7': '9,108,272 '},
 {'id': '28',
  'Country': 'Israel',
  'Total Cases': '4,328,741',
  'New Cases': '+12,527',
  'Total deaths': '10,946 ',
  'New Deaths': '+4',
  'Total Recovered': '4,252,314',
  'New Recovered': '+19,424',
  'Active Cases': '65,481',
  '2': '275',
  '3': '464,158',
  '4': '1,174',
  '5': '41,373,364',
  '6': '4,436,346',
  '7': '9,326,000 '},
 {'id': '29',
  'Country': 'Belgium',
  'Total Cases': '4,225,222',
  'New Cases': '',
  'Total deaths': '31,903 ',
  'New Deaths': '',
  'Total Recovered': '4,119,572',
  'New Recovered': '+2,621',
  'Active Cases': '73,747',
  '2': '57',
  '3': '361,451',
  '4': '2,729',
  '5': '34,415,556',
  '6': '2,944,115',
  '7': '11,689,611 '},
 {'id': '30',
  'Country': 'South Africa',
  'Total Cases': '3,992,661',
  'New Cases': '',
  'Total deaths': '101,740 ',
  'New Deaths': '',
  'Total Recovered': '3,877,949',
  'New Recovered': '',
  'Active Cases': '12,972',
  '2': '192',
  '3': '65,678',
  '4': '1,674',
  '5': '25,698,459',
  '6': '422,733',
  '7': '60,791,180 '},
 {'id': '31',
  'Country': 'Chile',
  'Total Cases': '3,973,291',
  'New Cases': '+5,517',
  'Total deaths': '58,459 ',
  'New Deaths': '+14',
  'Total Recovered': '3,634,796',
  'New Recovered': '+8,627',
  'Active Cases': '280,036',
  '2': '182',
  '3': '204,371',
  '4': '3,007',
  '5': '40,363,202',
  '6': '2,076,134',
  '7': '19,441,516 '},
 {'id': '32',
  'Country': 'Canada',
  'Total Cases': '3,931,371',
  'New Cases': '+1,272',
  'Total deaths': '41,878 ',
  'New Deaths': '+5',
  'Total Recovered': '3,556,373',
  'New Recovered': '',
  'Active Cases': '333,120',
  '2': '230',
  '3': '102,384',
  '4': '1,091',
  '5': '62,248,644',
  '6': '1,621,134',
  '7': '38,398,204 '},
 {'id': '33',
  'Country': 'Czechia',
  'Total Cases': '3,930,399',
  'New Cases': '+1,241',
  'Total deaths': '40,314  ',
  'New Deaths': '+1',
  'Total Recovered': '3,886,181',
  'New Recovered': '+424',
  'Active Cases': '3,904',
  '2': '5',
  '3': '365,674',
  '4': '3,751',
  '5': '55,522,797',
  '6': '5,165,698',
  '7': '10,748,362 '},
 {'id': '34',
  'Country': 'Switzerland',
  'Total Cases': '3,741,859',
  'New Cases': '+5,380',
  'Total deaths': '13,984 ',
  'New Deaths': '',
  'Total Recovered': '3,641,748',
  'New Recovered': '+1,825',
  'Active Cases': '86,127',
  '2': '49',
  '3': '426,175',
  '4': '1,593',
  '5': '21,360,334',
  '6': '2,432,813',
  '7': '8,780,097 '},
 {'id': '35',
  'Country': 'Philippines',
  'Total Cases': '3,702,319',
  'New Cases': '+576',
  'Total deaths': '60,531 ',
  'New Deaths': '+13',
  'Total Recovered': '3,634,596',
  'New Recovered': '+458',
  'Active Cases': '7,192',
  '2': '443',
  '3': '32,918',
  '4': '538',
  '5': '30,732,875',
  '6': '273,248',
  '7': '112,472,625 '},
 {'id': '36',
  'Country': 'Taiwan',
  'Total Cases': '3,686,338',
  'New Cases': '+44,428',
  'Total deaths': '6,448 ',
  'New Deaths': '+103',
  'Total Recovered': '2,614,475',
  'New Recovered': '+80,011',
  'Active Cases': '1,065,415',
  '2': '',
  '3': '154,226',
  '4': '270',
  '5': '20,862,061',
  '6': '872,808',
  '7': '23,902,222 '},
 {'id': '37',
  'Country': 'Greece',
  'Total Cases': '3,644,889',
  'New Cases': '+20,333',
  'Total deaths': '30,206 ',
  'New Deaths': '+16',
  'Total Recovered': '3,494,866',
  'New Recovered': '+16,418',
  'Active Cases': '119,817',
  '2': '95',
  '3': '353,113',
  '4': '2,926',
  '5': '85,098,827',
  '6': '8,244,281',
  '7': '10,322,165 '},
 {'id': '38',
  'Country': 'Peru',
  'Total Cases': '3,617,629',
  'New Cases': '',
  'Total deaths': '213,475 ',
  'New Deaths': '',
  'Total Recovered': '3,379,290',
  'New Recovered': '',
  'Active Cases': '24,864',
  '2': '139',
  '3': '106,770',
  '4': '6,300',
  '5': '31,415,559',
  '6': '927,193',
  '7': '33,882,441 '},
 {'id': '39',
  'Country': 'Denmark',
  'Total Cases': '3,010,904',
  'New Cases': '+2,407',
  'Total deaths': '6,454 ',
  'New Deaths': '+6',
  'Total Recovered': '2,987,164',
  'New Recovered': '+1,005',
  'Active Cases': '17,286',
  '2': '12',
  '3': '516,217',
  '4': '1,107',
  '5': '127,651,019',
  '6': '21,885,648',
  '7': '5,832,636 '},
 {'id': '40',
  'Country': 'Romania',
  'Total Cases': '2,919,461',
  'New Cases': '',
  'Total deaths': '65,739 ',
  'New Deaths': '',
  'Total Recovered': '2,847,139',
  'New Recovered': '+160',
  'Active Cases': '6,583',
  '2': '58',
  '3': '153,790',
  '4': '3,463',
  '5': '23,470,942',
  '6': '1,236,392',
  '7': '18,983,408 '},
 {'id': '41',
  'Country': 'Sweden',
  'Total Cases': '2,515,769',
  'New Cases': '',
  'Total deaths': '19,060 ',
  'New Deaths': '',
  'Total Recovered': '2,489,566',
  'New Recovered': '+119',
  'Active Cases': '7,143',
  '2': '7',
  '3': '246,062',
  '4': '1,864',
  '5': '18,653,548',
  '6': '1,824,467',
  '7': '10,224,107 '},
 {'id': '42',
  'Country': 'Iraq',
  'Total Cases': '2,343,265',
  'New Cases': '+2,212',
  'Total deaths': '25,237 ',
  'New Deaths': '+4',
  'Total Recovered': '2,307,273',
  'New Recovered': '+594',
  'Active Cases': '10,755',
  '2': '15',
  '3': '55,776',
  '4': '601',
  '5': '18,752,988',
  '6': '446,375',
  '7': '42,011,750 '},
 {'id': '43',
  'Country': 'Serbia',
  'Total Cases': '2,027,606',
  'New Cases': '+810',
  'Total deaths': '16,125 ',
  'New Deaths': '+1',
  'Total Recovered': '2,003,585',
  'New Recovered': '',
  'Active Cases': '7,896',
  '2': '8',
  '3': '233,929',
  '4': '1,860',
  '5': '9,890,552',
  '6': '1,141,091',
  '7': '8,667,627 '},
 {'id': '44',
  'Country': 'Bangladesh',
  'Total Cases': '1,969,361',
  'New Cases': '+2,087',
  'Total deaths': '29,145 ',
  'New Deaths': '+3',
  'Total Recovered': '1,907,067',
  'New Recovered': '+200',
  'Active Cases': '33,149',
  '2': '1,249',
  '3': '11,726',
  '4': '174',
  '5': '14,319,368',
  '6': '85,264',
  '7': '167,942,260 '},
 {'id': '45',
  'Country': 'Hungary',
  'Total Cases': '1,925,083',
  'New Cases': '',
  'Total deaths': '46,626 ',
  'New Deaths': '',
  'Total Recovered': '1,869,244',
  'New Recovered': '',
  'Active Cases': '9,213',
  '2': '6',
  '3': '200,285',
  '4': '4,851',
  '5': '11,394,556',
  '6': '1,185,484',
  '7': '9,611,737 '},
 {'id': '46',
  'Country': 'Slovakia',
  'Total Cases': '1,794,876',
  'New Cases': '+470',
  'Total deaths': '20,144  ',
  'New Deaths': '+2',
  'Total Recovered': '1,771,284',
  'New Recovered': '+206',
  'Active Cases': '3,448',
  '2': '5',
  '3': '328,438',
  '4': '3,686',
  '5': '7,173,799',
  '6': '1,312,708',
  '7': '5,464,884 '},
 {'id': '47',
  'Country': 'Jordan',
  'Total Cases': '1,698,316',
  'New Cases': '',
  'Total deaths': '14,068 ',
  'New Deaths': '',
  'Total Recovered': '1,683,746',
  'New Recovered': '',
  'Active Cases': '502',
  '2': '124',
  '3': '163,238',
  '4': '1,352',
  '5': '16,858,371',
  '6': '1,620,382',
  '7': '10,403,947 '},
 {'id': '48',
  'Country': 'Georgia',
  'Total Cases': '1,659,371',
  'New Cases': '',
  'Total deaths': '16,839 ',
  'New Deaths': '',
  'Total Recovered': '1,637,293',
  'New Recovered': '',
  'Active Cases': '5,239',
  '2': '',
  '3': '417,558',
  '4': '4,237',
  '5': '16,920,079',
  '6': '4,257,704',
  '7': '3,973,991 '},
 {'id': '49',
  'Country': 'Ireland',
  'Total Cases': '1,587,385',
  'New Cases': '',
  'Total deaths': '7,437 ',
  'New Deaths': '',
  'Total Recovered': '1,554,255',
  'New Recovered': '+349',
  'Active Cases': '25,693',
  '2': '28',
  '3': '314,512',
  '4': '1,474',
  '5': '12,377,825',
  '6': '2,452,445',
  '7': '5,047,137 '},
 {'id': '50',
  'Country': 'Pakistan',
  'Total Cases': '1,534,603',
  'New Cases': '+333',
  'Total deaths': '30,392 ',
  'New Deaths': '+2',
  'Total Recovered': '1,498,981',
  'New Recovered': '',
  'Active Cases': '5,230',
  '2': '85',
  '3': '6,690',
  '4': '132',
  '5': '28,958,761',
  '6': '126,240',
  '7': '229,395,275 '},
 {'id': '51',
  'Country': 'Norway',
  'Total Cases': '1,445,034',
  'New Cases': '',
  'Total deaths': '3,280 ',
  'New Deaths': '',
  'Total Recovered': '1,433,479',
  'New Recovered': '',
  'Active Cases': '8,275',
  '2': '20',
  '3': '262,481',
  '4': '596',
  '5': '11,002,430',
  '6': '1,998,523',
  '7': '5,505,281 '},
 {'id': '52',
  'Country': 'Singapore',
  'Total Cases': '1,413,667',
  'New Cases': '',
  'Total deaths': '1,409 ',
  'New Deaths': '',
  'Total Recovered': '1,324,147',
  'New Recovered': '',
  'Active Cases': '88,111',
  '2': '9',
  '3': '237,929',
  '4': '237',
  '5': '24,098,157',
  '6': '4,055,865',
  '7': '5,941,558 '},
 {'id': '53',
  'Country': 'New Zealand',
  'Total Cases': '1,322,476',
  'New Cases': '+8,331',
  'Total deaths': '1,437 ',
  'New Deaths': '+16',
  'Total Recovered': '1,282,002',
  'New Recovered': '+5,847',
  'Active Cases': '39,037',
  '2': '',
  '3': '264,384',
  '4': '287',
  '5': '7,277,655',
  '6': '1,454,920',
  '7': '5,002,100 '},
 {'id': '54',
  'Country': 'Kazakhstan',
  'Total Cases': '1,306,300',
  'New Cases': '',
  'Total deaths': '13,663 ',
  'New Deaths': '',
  'Total Recovered': '1,292,285',
  'New Recovered': '',
  'Active Cases': '352',
  '2': '24',
  '3': '67,959',
  '4': '711',
  '5': '11,575,012',
  '6': '602,176',
  '7': '19,221,980 '},
 {'id': '55',
  'Country': 'Hong Kong',
  'Total Cases': '1,241,435',
  'New Cases': '+1,685',
  'Total deaths': '9,399 ',
  'New Deaths': '+1',
  'Total Recovered': '1,201,188',
  'New Recovered': '+190',
  'Active Cases': '30,848',
  '2': '2',
  '3': '162,970',
  '4': '1,234',
  '5': '50,415,048',
  '6': '6,618,265',
  '7': '7,617,563 '},
 {'id': '56',
  'Country': 'Morocco',
  'Total Cases': '1,209,302',
  'New Cases': '+4,009',
  'Total deaths': '16,104 ',
  'New Deaths': '+3',
  'Total Recovered': '1,171,180',
  'New Recovered': '+1,225',
  'Active Cases': '22,018',
  '2': '293',
  '3': '32,011',
  '4': '426',
  '5': '11,902,771',
  '6': '315,072',
  '7': '37,777,918 '},
 {'id': '57',
  'Country': 'Bulgaria',
  'Total Cases': '1,170,686',
  'New Cases': '',
  'Total deaths': '37,247 ',
  'New Deaths': '',
  'Total Recovered': '1,072,509',
  'New Recovered': '',
  'Active Cases': '60,930',
  '2': '26',
  '3': '171,033',
  '4': '5,442',
  '5': '10,094,382',
  '6': '1,474,750',
  '7': '6,844,808 '},
 {'id': '58',
  'Country': 'Croatia',
  'Total Cases': '1,146,183',
  'New Cases': '+662',
  'Total deaths': '16,059 ',
  'New Deaths': '+7',
  'Total Recovered': '1,126,421',
  'New Recovered': '+404',
  'Active Cases': '3,703',
  '2': '8',
  '3': '282,652',
  '4': '3,960',

In [14]:
import pandas as pd 
data = pd.DataFrame(output)

# View the DataFrame.
data.head()

,id,Country,Total Cases,New Cases,Total deaths,New Deaths,Total Recovered,New Recovered,Active Cases,2,3,4,5,6,7
0,,\nNorth America\n,"105,010,665","+4,632","1,485,862",+21,"98,612,581","+16,541","4,912,222","8,526",,,,,
1,,\nAsia\n,"160,953,671","+103,679","1,438,786",+177,"155,387,303","+151,918","4,127,582","10,473",,,,,
2,,\nSouth America\n,"59,445,859","+6,534","1,304,273",+14,"56,353,023","+15,756","1,788,563","10,362",,,,,
3,,\nEurope\n,"202,906,475","+319,145","1,854,181",+357,"194,844,803","+227,512","6,207,491","5,987",,,,,
4,,\nOceania\n,"9,701,375","+37,252","13,935",+90,"9,328,293","+6,459","359,147",156,,,,,