In [1]:
# When the % is used in front, it indicates the use of SQL.

%load_ext sql

# Import operating system and the Anaconda environment.
import os

# PostgreSQL credentials.
host = '****'
database = '****'
user = '****'
# password.
password = '****'     

# Test connection between PostgreSQL and Jupyter Notebook.
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

# Determine connection status.
%sql $connection_string

'Connected: postgres@Chinook'

In [4]:
%sql 
%sql SELECT * FROM "Album" LIMIT 10

 * postgresql://postgres:***@localhost/Chinook
 * postgresql://postgres:***@localhost/Chinook
10 rows affected.

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3),
 (6, 'Jagged Little Pill', 4),
 (7, 'Facelift', 5),
 (8, 'Warner 25 Anos', 6),
 (9, 'Plays Metallica By Four Cellos', 7),
 (10, 'Audioslave', 8)]

In [3]:
%%sql 
SELECT * from "Artist" Limit 15

 * postgresql://postgres:***@localhost/Chinook
15 rows affected.

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains'),
 (6, 'Antônio Carlos Jobim'),
 (7, 'Apocalyptica'),
 (8, 'Audioslave'),
 (9, 'BackBeat'),
 (10, 'Billy Cobham'),
 (11, 'Black Label Society'),
 (12, 'Black Sabbath'),
 (13, 'Body Count'),
 (14, 'Bruce Dickinson'),
 (15, 'Buddy Guy')]

In [4]:
# Import necessary libraries to create an engine.
from sqlalchemy import create_engine

# Name the engine.
engine = create_engine(connection_string)

# Import inspect.
from sqlalchemy import inspect

insp = inspect(engine)
insp.get_table_names()

['Artist',
 'Album',
 'Employee',
 'Customer',
 'Invoice',
 'InvoiceLine',
 'Track',
 'Playlist',
 'PlaylistTrack',
 'Genre',
 'MediaType',
 'new_records',
 'tracks_q1',
 'experiment',
 'experiment2',
 'experiment3',
 'experiment4']

In [5]:
# Import Pandas.
import pandas as pd

# Create a DataFrame.
df = pd.read_sql('SELECT * from "Artist" LIMIT 10', engine)

# View the DataFrame.
df

   ArtistId                  Name
0         1                 AC/DC
1         2                Accept
2         3             Aerosmith
3         4     Alanis Morissette
4         5       Alice In Chains
5         6  Antônio Carlos Jobim
6         7          Apocalyptica
7         8            Audioslave
8         9              BackBeat
9        10          Billy Cobham

## 5.3.4 Part II: the dynamic duo

Q1: Who are the 15 most popular artists?

In [6]:
%%sql 

CREATE TABLE most_popular_tracks AS
SELECT ar."ArtistId", ar."Name", al."Title", 
COUNT(*),
SUM(ar."ArtistId")
FROM "Artist" ar 
JOIN "Album" al USING ("ArtistId")
JOIN "Track" tr USING ("AlbumId")
JOIN "InvoiceLine" i USING ("TrackId")
GROUP BY ar."ArtistId", ar."Name", al."Title"
ORDER BY COUNT(ar."ArtistId") DESC;

 * postgresql://postgres:***@localhost/Chinook
304 rows affected.

[]

In [7]:
# Import Pandas.
import pandas as pd

# Create a DataFrame
q1 = pd.read_sql('SELECT * FROM most_popular_tracks', engine)

# View the output.
q1

,ArtistId,Name,Title,count,sum
0,17,Chico Buarque,Minha Historia,27,459
1,100,Lenny Kravitz,Greatest Hits,26,2600
2,81,Eric Clapton,Unplugged,25,2025
3,146,Titãs,Acústico,22,3212
4,52,Kiss,Greatest Kiss,20,1040
...,...,...,...,...,...
299,261,"Roger Norrington, London Classical Players",Purcell: The Fairy Queen,1,261
300,241,"Felix Schmidt, London Symphony Orchestra & Raf...",Elgar: Cello Concerto & Vaughan Williams: Fant...,1,241
301,226,Eugene Ormandy,Respighi:Pines of Rome,1,226
302,259,The 12 Cellists of The Berlin Philharmonic,South American Getaway,1,259
303,264,Kent Nagano and Orchestre de l'Opéra de Lyon,Weill: The Seven Deadly Sins,1,264

2. What is the most sought genre based on the media type?

In [9]:
%%sql 

CREATE TABLE most_popular_genre AS
SELECT g."GenreId", g."Name", m."Name" AS media,
COUNT(*),
SUM(g."GenreId")
FROM public."Genre" g 
JOIN public."Track" t USING ("GenreId")
JOIN public."MediaType" m USING ("MediaTypeId")
GROUP BY g."GenreId", g."Name", media
ORDER BY COUNT(g."GenreId") DESC;

 * postgresql://postgres:***@localhost/Chinook
38 rows affected.

[]

In [10]:
# Create a DataFrame
q2 = pd.read_sql('SELECT * FROM most_popular_genre', engine)

# View the output.
q2

    GenreId                Name                        media  count   sum
0         1                Rock              MPEG audio file   1211  1211
1         7               Latin              MPEG audio file    578  4046
2         3               Metal              MPEG audio file    374  1122
3         4  Alternative & Punk              MPEG audio file    332  1328
4         2                Jazz              MPEG audio file    127   254
5        19            TV Shows  Protected MPEG-4 video file     93  1767
6         1                Rock     Protected AAC audio file     84    84
7         6               Blues              MPEG audio file     81   486
8        24           Classical     Protected AAC audio file     67  1608
9        21               Drama  Protected MPEG-4 video file     64  1344
10        8              Reggae              MPEG audio file     58   464
11       14            R&B/Soul              MPEG audio file     49   686
12       10          Soundtrack              MPEG audio file     42   420
13       23         Alternative     Protected AAC audio file     38   874
14       17         Hip Hop/Rap              MPEG audio file     35   595
15        9                 Pop     Protected AAC audio file     34   306
16       15   Electronica/Dance              MPEG audio file     28   420
17       13         Heavy Metal              MPEG audio file     28   364
18       20    Sci Fi & Fantasy  Protected MPEG-4 video file     26   520
19       16               World              MPEG audio file     26   416
20       12      Easy Listening              MPEG audio file     24   288
21       22              Comedy  Protected MPEG-4 video file     17   374
22       11          Bossa Nova              MPEG audio file     15   165
23        9                 Pop              MPEG audio file     14   126
24       18     Science Fiction  Protected MPEG-4 video file     13   234
25        5       Rock And Roll              MPEG audio file     12    60
26       14            R&B/Soul     Protected AAC audio file     12   168
27       24           Classical     Purchased AAC audio file      6   144
28        2                Jazz               AAC audio file      3     6
29       15   Electronica/Dance               AAC audio file      2    30
30       16               World               AAC audio file      2    32
31        1                Rock               AAC audio file      2     2
32       25               Opera     Protected AAC audio file      1    25
33        7               Latin               AAC audio file      1     7
34       24           Classical               AAC audio file      1    24
35       10          Soundtrack     Protected AAC audio file      1    10
36       23         Alternative  Protected MPEG-4 video file      1    23
37       23         Alternative     Purchased AAC audio file      1    23

Q3: Which artist is the most popular based on genre?

In [11]:
%%sql 

CREATE TABLE most_popular_artist_genre AS
SELECT ar."ArtistId", ar."Name" AS artist, g."Name" AS genre,
COUNT(*),
SUM(ar."ArtistId")
FROM public."Artist" ar
JOIN public."Album" al USING ("ArtistId")
JOIN public."Track" t USING ("AlbumId")
JOIN public."Genre" g USING ("GenreId")
GROUP BY ar."ArtistId", artist, genre
ORDER BY COUNT(ar."ArtistId") DESC;

 * postgresql://postgres:***@localhost/Chinook
233 rows affected.

[]

In [12]:
q3 = pd.read_sql('SELECT * FROM most_popular_artist_genre', engine)

# View the output.
q3

,ArtistId,artist,genre,count,sum
0,22,Led Zeppelin,Rock,114,2508
1,50,Metallica,Metal,112,5600
2,150,U2,Rock,112,16800
3,90,Iron Maiden,Metal,95,8550
4,58,Deep Purple,Rock,92,5336
...,...,...,...,...,...
228,262,Charles Dutoit & L'Orchestre Symphonique de Mo...,Classical,1,262
229,234,Orchestra of The Age of Enlightenment,Classical,1,234
230,219,"Britten Sinfonia, Ivor Bolton & Lesley Garrett",Classical,1,219
231,243,Antal Doráti & London Symphony Orchestra,Classical,1,243
232,266,Martin Roscoe,Classical,1,266